.baner1:hover {
    opacity: 80%;
}

.icon1 {
    border-radius: 5px;
}

.icon1:hover {
    background-color: rgb(237, 214, 185);
}

#result {
    width: 90%;
    height: 80%;
    background-color: rgb(255, 145, 0);
    border: none;
    text-align: left;
    margin-top: 3%;
}