@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
.main {
    background-color: rgb(28, 30, 30);
    background-size: cover;
    height: 150vh;
    background-position: 50% 50%;
    width: 100%;
    position: relative;
}

.main h1 {
    color: white;
    font-size: 4 rem;
    font-weight: 700;
}

.main h2 {
    color: white;
    font-size: 3 rem;
    font-weight: 700;
}

.pt-5 {
    padding-top: 10rem!important;
}

.pt-5 video {
    size: 10%;
}

.head img {
    position: absolute;
    animation: animation 3s infinite linear;
}

.head img:nth-child(1) {
    animation-delay: 0.5s;
}

.head img:nth-child(3) {
    animation-delay: 1.5s;
}

.head img:nth-child(4) {
    animation-delay: 1s;
}

@keyframes animation {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}

#title2 {
    padding-top: 50rem;
}

@media screen and (min-width: 800px) {
    #title2 {
        padding-top: 17rem;
    }
}

#main2 {
    width: 90vw;
    transform: translateY(-10vh);
    background-color: #1c1e1e;
    display: none;
    border-radius: 20px;
}

.slider {
    transform: translateY(-10vh);
}

.team {
    color: white;
    text-align: center;
    font-family: 'Rancho', cursive;
    font-style: italic;
}

.team img {
    width: 4rem;
}

.team h5 {
    padding: 5px 0px;
}

.team p {
    padding-bottom: 20px;
}